body{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 100%;
    background-color:white;
    margin: 0px;
}

body a{
    text-decoration: none;
    color: #006ADB;
}

footer{
    font-size: 14px;
}

label {
    display: inline;
}

button:focus{
    outline: 0;
}

#main-description{
    width: 80%;
    margin: 0 auto;
}

#bottom-contact-info{
    width: 700px;
    margin: auto;
}

#container{
    width: 100%;
    margin: 0px auto;
    display: inline-flex;
    justify-content: center;
}

#display-normal{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 30px;
    border: 4px solid #dddbdb;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#bdate_Month_ID, #bdate_Day_ID, #edate_Month_ID, #edate_Day_ID, #bdate_Year_ID, #edate_Year_ID{
    height: 30px;
}

#bdate_Month_ID option, #bdate_Day_ID option, #edate_Month_ID option, #edate_Day_ID option{
    font-size: 12.5px;
}

#bdateselect-section form, #edateselect-section form{
    float: right;
}

#station-name-text{
    margin-right: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}

#download-button{
    position:relative;
    left:40%;
}


#data-inventory-text{
    color: #006ADB;
    cursor: pointer;
    padding: 10px;
    font-style: normal;
    margin-right: 16px;
}


#loading-image-m_stations{
    display: inline-block;
}

#loading-screen{
    position: absolute;
    top: 45%;
    left: 45%;
}

.matches{
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
}

.matches div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.matches div:hover{
    background-color: #e9e9e9; 
}

.autocomplete-form{
    position: relative;
    text-align: right;
    max-width: 290px; 
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    float: right;
}

.autocomplete-input{
    width: 100%;
}

.selection-option{
    margin: 15px 0px;
}

.expand-class{
    height: 15px;
    width: 15px;
}

.button-api-option{
    width: 200px;
    height: 120px;
    background-color: #e6e9ef;
    padding: 10px;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #cfcaca;
}

.button-api-option:hover {
    cursor: pointer;
}

.api-and-description{
    height: 400px;
    margin: 0px 30px;
    max-width: 290px;
    padding: 0px 16px;
    border: 3px solid #e7e7e7;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.option-details{
    display: flex;
}


.dropdown-button{
    width: 100px;
    background-color: aqua;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    display: block;
}

.checkboxes-label{
    margin-left: 8px;
}

.blue-button{
    color: #fff;
    padding: 10px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    *background-color: #04c;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.generic-grey-button{
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

.generic-grey-button:disabled{
    background-color: #928787;
    *background-color: #928686;
    background-image: -moz-linear-gradient(top,rgb(172, 164, 164),#d4cece);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(185, 178, 178)),to(#dad3d3));
    background-image: -webkit-linear-gradient(top,rgb(175, 166, 166),#d3cdcd);
    background-image: -o-linear-gradient(top,rgb(179, 167, 167),#cec6c6);
    background-image: linear-gradient(to bottom,rgb(173, 164, 164),#cac3c3);
}

.generic-grey-button-selected{
    background-color: #b3cbdf;
    *background-color: #a3b7e0;
    background-image: -moz-linear-gradient(top,rgb(175, 180, 224),#ebeff1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(169, 172, 218)),to(#e8f1f7));
    background-image: -webkit-linear-gradient(top,rgb(168, 173, 219),#edf2fa);
    background-image: -o-linear-gradient(top,rgb(173, 181, 224),#dee4f3);
    background-image: linear-gradient(to bottom,rgb(162, 175, 218),#e9ecf8);
}

.generic-dropdown{
    width: 100%;
    max-width: 290px;
    float: right;
}

.day-dropdown{
    width: 45px;
}

.month-dropdown{
    width: 55px;
}

.generic-dropdown-label{
    max-width: 150px;
}

.commentary{
    font-size: 13px;
    font-style: italic;
}

ul .li-alert{
    list-style: none;
}

.li-alert::before{
    content: "!";
    color: red;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    width: 1em;
    margin-left: -1em;
}

.help-parent{
    display: inline-flex;
    position: relative;
}

.help-text{
    visibility: hidden;
    font-size: 13px;
    position: absolute;
    width: 400px;
    display: inline-block;
    z-index: 3;
    padding: 10px;
    background-color: rgb(214, 211, 211);
    border-radius: 10px;
    left: 105%;
    margin-top: -200%;

}

.help-text-large{
    visibility: hidden;
    font-size: 13px;
    position: absolute;
    width: 400px;
    display: inline-block;
    z-index: 2;
    padding: 10px;
    background-color: rgb(214, 211, 211);
    border-radius: 10px;
    left: 105%;
    margin-top: -800%;
    max-height: 400px;
    overflow: scroll;
}

.help-parent:hover .help-text{
    visibility: visible;
}

.help-parent:hover .help-text-large{
    visibility: visible;
}

.help-image{
    width: 17px;
    height: 17px;
    margin: 0px;
    display: inline-block;
}

.station-text-clear-button{
    position: absolute;
    right: -30px;
    font-size: 23px;
    top: -3px;
}

.calendar-image{
    position: absolute;
    right: -13px;
    font-size: 13px;
    width: 20px;
    top: 6px;
}

.station-text-clear-button:hover{
    cursor: pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.centertext{
    text-align: center;
}

.righttext{
    text-align: right;
}

.lefttext{
    text-align: left;
}

.floatright{
    float: right;
}

.floatleft{
    float:left;
}

.hr-text-bar{
    width: 100%; 
    height: 20px; 
    border-bottom: 1.5px solid rgb(201, 201, 201); 
    text-align: center;
    padding-top: 6px;
}

.hr-text{
    font-size: 16px;
    font-weight: 600;
    background-color: #F3F5F6; 
    padding: 0 10px;
}

